/* /src/styles/bottomNav.css */
.bottom-nav {
  display: flex;
  justify-content: space-around;
  background-color: #fff;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #ccc;
}

.nav-button {
  text-align: center;
}

.nav-button img {
  width: 30px;
  height: 30px;
}

.nav-button span {
  display: block;
  font-size: 12px;
  color: #333;
}
